{% extends "./base.html.twig" %}

{% block body %}
	<div class="w-4/5 mx-auto sm:w-3/5">
		<h1 class="pt-20 text-4xl font-bold text-center sm:text-5xl md:text-7xl">
			{{ movie.title }}
		</h1>

		<div class="py-10 text-center">
			<div class="inline-block sm:pt-1">
				<h2 class="font-bold">
					Created by: Code With Dary
				</h2>

				<p class="text-sm text-gray-600">
					28-01-2022 4 min. read
				</p>
			</div>

			<x-share-blog :sharebuttons="$shareButtons"/>
		</div>

		<img src="{{ movie.imagePath }}" class="w-full shadow-xl rounded-xl" alt="Icon of Code With Dary"/>

		<p class="py-6 text-xl">
			{{ movie.description }}
		</p>

		{% if app.user %}
			<a href="/movies/edit/{{ movie.id }}" class="px-4 py-2 font-bold transition-all bg-green-500 rounded hover:bg-green-300">
				Edit Movie
			</a>
			<a href="/movies/delete/{{ movie.id }}" class="px-4 py-2 ml-6 font-bold transition-all bg-red-500 rounded hover:bg-red-300">
				Delete Movie
			</a>
		{% endif %}
	</div>
{% endblock %}
